<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember">
		insert into
			member
		values(
			#{id},
			#{password},
			#{name},
			#{gender},
			#{birthday},
			#{email},
			#{phone},
			#{address},
			#{hobby},
			default,
			default
		)
		<!-- enroll_date, enable컬럼은 기본값처리 -->
	</insert>
	
	<insert id="insertRole">
		insert into
			authority
		values(
			#{id},
			'ROLE_USER'
		)
	</insert>
	<select id="selectOneMember" resultMap="memberVoMap">
		select *
		from member
		where id = #{id}
	</select>
	<select id="idCheckDuplicate" resultMap="memberVoMap">
		select *
		from member
		where id = #{id}
	</select>
	<update id="updateMember">
		update 
			member
		set 
			name = #{name},
			gender = #{gender},
			birthday = #{birthday},
			email = #{email},
			phone = #{phone},
			address = #{address},
			hobby = #{hobby}
		where 
			id = #{id}
	</update>
	
	
	<resultMap type="member" id="memberVoMap">
	<!-- typehandler 생략가능 : @MappedTypes, @MappedJdbcTypes 어노테이션 지정한 경우-->
		<result column="hobby" property="hobby" typeHandler="stringArrayTypehandler"/>
	</resultMap>
</mapper>